
.rangeWrap{
    display: grid;
    grid-template-columns: auto max-content;
    gap: 10px;
    align-items: center;
}
.rangeWrap input[type=range]{
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    box-sizing: border-box;
    height: 10px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px var(--color_main);
    margin: 0 1px;
}
.rangeWrap input[type=range]::-webkit-slider-thumb{
    appearance: none;
    background-color: transparent;
    box-sizing: border-box;
    width: 60px;
    height: 24px;
    background-color: #fff;
    border: 2px solid #408E51;
    border-radius: 4px;
    transform: scaleX(1.01);
}
.rangeWrap input[type=range]::-moz-range-thumb{
    appearance: none;
    background-color: transparent;
    box-sizing: border-box;
    width: 60px;
    height: 24px;
    background-color: #fff;
    border: 2px solid #408E51;
    border-radius: 4px;
}

@media (max-width: 350px){
    .rangeWrap{
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 20px 0;
    }
}