@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root{
    --color_main: #53B167;
    --color_green1: #608A69;
    --color_gray1: #f4f4f4;
    --color_gray2: #ddd;

    --cardSize_ratio : 1;
    
    --cardSize_width: calc(120px * var(--cardSize_ratio));
    --cardSize_height: calc(180px * var(--cardSize_ratio));

    --cardSize_decoBorderWidth: calc(var(--cardSize_width) * 0.25);
    --cardSize_decoBorderHeight: calc(var(--cardSize_height) * 0.25);

    --cardSize_decoWidth: calc(var(--cardSize_decoBorderWidth) - 2px);
    --cardSize_decoHeight: calc(var(--cardSize_decoBorderHeight) - 4px);
}



html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6,button,input,label{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
html{box-sizing:border-box}

button, input, label{
    font-size: inherit;
    line-height: 1;
}

body{
    box-sizing:border-box;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
}
button{
    cursor: pointer;
}
ul{
    list-style: none;
}

div{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}



::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #242;
    border: 2px solid var(--color_main);
    border-radius:5px;
}
::-webkit-scrollbar-track {
	background: var(--color_main); 
}



/*-- 카드 애니메이션 --*/

.init{
    opacity: 0;
}

.initAnimation [class*=card]{
    animation: cardAnimation 0.3s forwards linear;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25);
}
.initAnimation::before{
    position: absolute;
    display: block;
    content: "";
    width: var(--cardSize_width);
    height: var(--cardSize_height);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
    animation: cardShadowAnimation 0.6s forwards linear;
}
@keyframes cardAnimation{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}
@keyframes cardShadowAnimation{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    50%{
        opacity: 1;
        transform: scale(1.02);
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}

.openCard [class*=back]{transform: rotateY(180deg);}
.openCard [class*=front]{transform: rotateY(360deg);}

/* 카드 정답 표시*/
.correct [class*=back]{transform: rotateY(180deg);}
.correct [class*=front]{transform: rotateY(360deg);}

[class*=front]::after{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
    border-style: solid;
    border-width: 4px;
}

.single [class*=front]::after{
    content: "";
    border-color: #579757;
    box-shadow: inset 0 0 10px 0 #0f0;
}
.user [class*=front]::after{
    content: "";
    border-color: #575797;
    box-shadow: inset 0 0 10px 0 #00f;
}
.com [class*=front]::after{
    content: "";
    border-color: #975757;
    box-shadow: inset 0 0 10px 0 #f00;
}